* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;

}
.home{
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  background-image: url(../images/ho.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  width: 100%;
  height: 100vh;
}

.contact{
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  background-image: url(../images/co.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color: white;
}

.about{
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  background-image: url(../images/ab.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.error{
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  background-image: url(../images/error.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
h1{
  text-align: center;
}
.detail{
 width: 100%;
 height: 10%;
 margin: auto;
 text-align: center;
}
.list.active {
  color: rgb(9, 226, 255);
  border-bottom: 1px solid rgb(9, 226, 255);
  transition: 0.7s all;
}


.nav {
  display: flex;
  justify-content: right;
  position: relative;
  background-color: #4a69bd;

}

.nav ul {
  display: flex;
}

.nav ul li {
  margin: 20px;
}
.list{
  color: white;
}

.nav ul .logo {
  position: absolute;
  top: -1rem;
  left: 1rem;
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  font-size: 35px;
  letter-spacing: 16px;
}
.nav ul .logo span{
  color: rgb(58, 172, 233);
  
}
.main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin-top: 20px;
  margin-left: 10px;
  width: 300px;
  height: 380px;
  background: #4a69bd;
  padding: .5em;
  border-radius: 10px;
  position: relative;
}

.card1 {
  margin-top: 20px;
  margin-left: 10px;
  width: 700px;
  height: 350px;
  background: #485460;
  padding: .5em;
  border-radius: 10px;
  position: relative;
  display: flex;
  
  justify-content: center;
   margin: auto;
  margin-top: 5rem;
}

.tag{
  margin-top: 1rem;
  text-transform: uppercase;
  color: #14788e;
  font-weight: 900;
}
.card-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100rem;
  height: 20rem;
  border-radius: 6px 6px 0 0;
  border-radius: 10px;
  transition: 0.3s ease-in; 

}
.card-image1 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  border-radius: 6px 6px 0 0;
  border-radius: 10px;
}



.card-image img{
  width: 100%;
  height: 100%;
}

.card-image:hover {
  transform: scale(0.90);
}
.card-image1 img{
  width: 100%;
  height: 100%;
}

.card-image1:hover {
  transform: scale(0.98);
}

.category {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: white;
  padding: 10px 7px 0;
  /* font-size: 13px; */
}

.category:hover {
  cursor: pointer;
}

.heading {
  font-weight: 600;
  color: #FFff  ;
  padding: 7px;
  position: relative;
}

.heading:hover {
  cursor: pointer;
}

.author {
  color: white;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}
.author2 {
  color: white;
  font-weight: 400;
  font-size: 15px;
  padding-top: 20px;
}
.author1 {
  color: white;
  font-weight: 400;
  font-size: 16px;
  padding-top: 20px;
  margin-top: 20px;
  
}

.name {
  font-weight: 400;
  color: #c4e90d;
  
}
.name1 {
  font-weight: 600;
  font-size: 15px;
  color: #FFF;
  
}

.name:hover {
  cursor: pointer;
}
.btn{
  padding: 13px;
  font-size: 14px;
  background-color: #0c2461;
  border: none;
  outline: none;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  top: 20rem;
  left:0.5rem;
  margin: auto;
  width: 95%;
  transition: 0.4s ease-in-out;
}
.btnn{
  padding: 13px;
  font-size: 14px;
  background-color: #0c2461;
  border: none;
  outline: none;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;  
  position: absolute;
  top: 5rem;
  left:0.5rem;
  transition: 0.4s ease-in-out;

}
.btnn:hover{
  background-color: #14788e;

}
.btn:hover{
  background-color: white;
  color: #34495e;
  font-weight: 700;

 
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: auto;
  position: relative;
  width: 85px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#232a30 50px, transparent 0),
                    linear-gradient(#14788e 50px, transparent 0),
                    linear-gradient(#232a30 50px, transparent 0),
                    linear-gradient(#14788e 50px, transparent 0),
                    linear-gradient(#232a30 50px, transparent 0),
                    linear-gradient(#14788e 50px, transparent 0);
  background-position: 0px center, 15px center, 30px center, 45px center, 60px center, 75px center, 90px center;
  animation: rikSpikeRoll 0.65s linear infinite alternate;
}
@keyframes rikSpikeRoll {
0% { background-size: 10px 3px;}
16% { background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
33% { background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
50% { background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px}
66% { background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px}
83% { background-size: 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px, 10px 3px}
100% { background-size: 10px 3px, 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px}
}

/* <<<<<<<___________________________>>>> */


/* <<<<<<<<<<<<--------------- Login >>>>>>>>>>>>>>>>>>>>> */

.logo {
  margin-bottom: 1rem;
  font-size: 1.9rem;
  text-align: center;
  color: #1877f2;
  font-weight: 700;
}

form {
  position: absolute;
   top: 5rem;
  left: 27rem;
  display: flex;
  flex-direction: column;
  /* background: rgb(15, 23, 36); */
  background: #fff;
  padding: 1.5rem 1rem;
  width: 390px;
  height: 450px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  margin: auto;
}

form input {
  outline: none;
  padding: 0.8rem 0.5rem;
  margin-bottom: 1.8rem;
  font-size: 0.9rem;
}

form input:focus {
  border: 1.8px solid #1877f2;
}

form .login {
  outline: none;
  border: none;
  background: #1877f2;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  /* margin-top: 2rem; */
  font-size: 1.1rem;
  color: #fff;
  transition: 0.4s ease-in-out;
  text-transform: uppercase;
}

form .login:hover {
  background: #65a0ee;
  cursor: pointer;
}

form a {
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  padding-top: 0.8rem;
  margin-top: 1rem;
  color: #1877f2;
}

form hr {
  background: #f7f7f7;

  margin: 1.1rem ;
}

form .create-account {
  outline: none;
  border: none;
  background: #06b909;
  padding: 0.9rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  color: #fff;
  width: 75%;
  
  margin: 10px auto;
}

form .create-account:hover {
  background: #03ad06;
  cursor: pointer;
}




/* <<<<<<<<<-------------- End>>>>>>>>>>>>>>>>>> */
